= render 'devise/shared/side_bar'
.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => "3016"}
        test
      %ul.main-header__left-box__member-list
        menber：
        %li.main-header__left-box__member-list__member
          kyana
    %a
    =link_to "/groups/3016/edit" do
      .main-header__edit-btn Edit
  .messages
    .message{"data-message_id"=>"8046"}
      .message__upper-info
        %p.message__upper-info__talker
          kyana
        %p.message__upper-info__date 
          2019/08/07(Wed) 15:44:12
      %p.message__text
        ためし
  .form
    %form#new_message.new_message{:enctype => "multipart/form-data", :action => "/groups/3016/messages", :"accept-charset" => "UTF-8", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "aaaaa"}/
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.submit-btn{:"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/