* {
  box-sizing: border-box;
  & ::-webkit-scrollbar{
    display: none;
  }
}

.flash-box {
  color: #ffffff;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.main {
  width: calc(100vw - 300px);
  float: left;
  .header {
    height:100px;
    padding:0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }
    & a {
      color: #38aef0;
      text-decoration: none;
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
    }
  }
  .messages {
    height:calc(100vh - 190px);
    padding:46px 40px;
    background-color: #fafafa;
    overflow:scroll;
    .message {
      padding-bottom:40px;
      .upper-message {
        display: flex;
        margin-bottom: 10px;
        &__user-name {
          color: $black;
          font-size:16px;
          font-weight: bold;
        }
        &__date {
          color:#999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message {
        color: $black;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: $light_gray;
    &__message {
      padding-left: 10px;
      height: 50px;
      border: none;
      float: left;
      width: calc(100% - 150px);
    }
    .form__mask {
      background-color: $white;
      .icon {
        line-height: 50px;
        font-size: 1.3rem;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .hidden{
        display: none;
      }
    }
    .form__submit {
      float: right;
      width: 100px;
      height: 50px;
      padding: 0 30px;
      background-color: $light_blue;
      color: $white;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}