* {
  box-sizing: border-box;
  & ::-webkit-scrollbar{
    display: none;
  }
}

.flash-box {
  color: #ffffff;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}
.side-bar {
  width: 300px;
  color: #ffffff;
  float: left;
  & a {
    color: #ffffff; 
    text-decoration: none;
    .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
    }
  }
  .header {
    background-color: #253141;
    color: #ffffff;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__name {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
    }
    &__lists {
      display: flex;
      & li {
          margin-left: 0.3rem;
          font-size: $side_header_font;          
      & ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        }
      }
    }
  }
  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group {
      margin-bottom: 40px;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
        & p {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}